
<div class="list-group"style="height: 200px; overflow-y: auto; position: relative;" >
    <div style="position: sticky; top: 0; background-color: #2ce80b; z-index: 1; padding: 5px;">
        Renkler</div>
    
        <ul class="list-group "style="height: 200px; overflow-y: auto; position: relative;">
   
          <li (click)="setCurrentColors(color)" 
          routerLink="/cars/color/{{color.id}}"
          *ngFor="let color of colors" 
          [class]="getCurrentColor(color)">
          {{color.colorName}}</li>
         
        </ul>
    <!-- <a href="#" class="list-group-item list-group-item-action" >{{brand.id}}</a> -->
    
    
  </div>


  
  