<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>

<table *ngIf="dataLoaded!=false" class="table ">
    
        <thead class="table-primary" >
            <tr>
                <td>Id</td>
                <td>Marka Adı</td>
                <td>Araba adı</td>
                <td>Renk</td>
                <td>Model yılı </td>
                <td>Günlük fiyat  </td>
                <td>Açıklama  </td>
            </tr>
        </thead>
    
  
    <tr *ngFor="let car  of carsDetails">
        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}} ₺</td>
        <td>{{car.description}}</td>
    </tr>
</table>